<h1>Toplatıya katılım Listesi</h1>

<table>
    <tr>
        <td>Adı</td>
        <td>Email</td>
        <td>Katılım Durumu</td>
        <td>Detay</td>
    </tr>
    <thead>
        <tbody>
        <tr>
            <td>Furkan Aras</td>
            <td>rsfurkan09@gmail.com</td>
            <td>Evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
        </tbody>
    </thead>
</table>